/*
 * _size.scss v0.1.0
 * Copyright © 2015 Jonathan Ho
 */


// Min/Max/Absolute
// ------------------------------

@mixin absolute-height($height) {
  height: $height;
  max-height: $height;
  min-height: $height;
}

@mixin absolute-width($width) {
  width: $width;
  max-width: $width;
  min-width: $width;
}


// Margin & Padding
// ------------------------------




// Colour & Opacity
// ------------------------------




// Shadows & Effects
// ------------------------------

