/*
 * _block.scss v0.1.0
 * Copyright © 2015 Jonathan Ho
 */

.block {
  width: 100%;
  //height: 320px;
  height: 192px;
  //margin: 80px 0;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
  .block-icon-box {
    position: relative;
    //top: 100px;
    top: 32px;
    display: inline-block;
    //margin-bottom: 40px;
    padding: 8px;
    //background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .block-heading {
    position: relative;
    //top: 80px;
    top: 12px;
    
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  }
  
  .block-description {
    position: relative;
    top: -48px;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .block-icon-box > img.block-icon {
    //width: 40px;
    width: 96px;
  }

  &:hover {
    border-color: #036;
  }
  
  &:hover .block-icon-box {
    //top: -30px;
    top: -36px;
  }
  
  &:hover .block-heading {
    //top: -30px;
    top: -42px;
  }
  
  &:hover .block-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

