/*
 * _header.scss v0.1.0
 * Copyright © 2015 Jonathan Ho
 */


// Header
//--------------------------------------------

.header {
  margin-top: 6rem;
  text-align: center;
  .masthead {
    h1 {
      text-align: right;
      margin-bottom: 1.2rem;
      >small {
        display: block;
        font-size: 2.6rem;
        opacity: 0.75;
      }
    }
  }
  .mast-props {
    margin-top: 4rem;
    margin-bottom: 4rem;
    .mast-prop {
      margin-top: 1rem;
      text-align: center;
      .mast-img {
        display: block;
        text-align: center;
        margin: 2.5rem auto 0;
      }
    }
  }
}


// Viewport > 550px
//--------------------------------------------

@media (min-width: $breakpoint-sm) {
  .header {
    margin-top: 18rem;
    .masthead {
      h1 {
        >small {

        }
      }
    }
  }
  .mast-props {
    margin-top: 9rem;
    margin-bottom: 7rem;
    .mast-prop {
      .mast-img {
        margin-bottom: 1rem;
      }
    }
  }
}