/*
 * _icons.scss v0.1.0
 * Copyright © 2015 Jonathan Ho
 */
 

// Icon Classes
//--------------------------------------------
.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
}


nav {
  .menu-icon {
    a {
      .fa.fa-2x, .material-icons, .icon {
        vertical-align: middle;
        line-height: 33px;
      }
      .fa.fa-lg {
        vertical-align: middle;
        line-height: 24px;
      }
      img.icon {
        width: 24px;
        height: 24px;
        display: inline;
      }
    }
  }
}