/*
 * _icons.scss v0.1.0
 * Copyright © 2015 Jonathan Ho
 */
 

// Icon Classes
//--------------------------------------------
.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: #000;
}