/*
 * _masthead.scss v0.1.0
 * Copyright © 2015 Jonathan Ho
 */

.masthead {
  //height: 640px;
  height: 100vh;
  padding: 6.4rem 2.4rem;
  background-color: #fafafa;

  .columns:first-child {
    border-right: 1px solid #999999;
  }

  h1 {
    margin-bottom: 0;
    text-align: right;
  }

  h3 {
    margin-top: 0;
    color: #666666;
    text-align: right;
  }

  h4, h5 {
    text-align: left;
  }

  h5 {
    color: #cc0000;    
  }

}