
// Global Colours
// ------------------------------
$background-base  : #fafafa;
$background-dark  : #191919;
$background-mild  : #999999;

$foreground-base  : #242424;
$foreground-dark  : #000000;
$foreground-mild  : #505050;

$primary-base     : #003366;
$secondary-base   : #336600; //#004d2b;
$accent-base      : #cc0000;

$primary-dark     : #000033;
$secondary-dark   : #003300;
$accent-dark      : #660000;

$primary-mild     : #336699;
$secondary-mild   : #669933; //#2b6f4d;
$accent-mild      : #ff3333; //#dc0303;


// National Racing Colours
// ------------------------------

$it-red    : rgb ( 204,   0,   0 );     // #cc0000 - rosso corsa
$jp-red    : rgb ( 199,   0,  37 );     // #c70025 - japan red
$fr-blue   : rgb (  49, 140, 231 );     // #318ce7 - bleu de france
$fi-blue   : rgb (   0,  53, 128 );     // #003399 - finnish blue
$gb-green  : rgb (   1,  66,  37 );     // #014225 - british racing green
$de-silver : rgb ( 192, 192, 192 );     // #c0c0c0 - silver arrows
$us-red    : rgb ( 178,  34,  52 );     // #b22234 - old glory red
$us-blue   : rgb (  60,  59, 110 );     // #3c306e - old glory blue


// Team Livery Colours
// ------------------------------

$team-mer : rgb(  42, 180, 164 );     // #2ab4a5 - mercedes
$team-rbr : rgb(  79,  26, 171 );     // #4f1aab - red bull racing
$team-mcl : rgb( 128, 128, 128 );     // #808080 - mclaren
$team-wil : rgb( 255, 255, 255 );     // #ffffff - williams
$team-sfi : rgb( 255,  95,  15 );     // #ff5f0f - sahara force india
$team-fer : rgb( 195,   0,   0 );     // #c30000 - ferrari
$team-str : rgb(   0,   5, 193 );     // #0005c1 - scuderia toro rosso
$team-lot : rgb( 255, 184,   0 );     // #ffb800 - lotus
$team-sau : rgb(   0,  99, 255 );     // #0063ff - sauber
$team-mar : rgb( 110,   0,   0 );     // #6e0000 - marussia
$team-cat : rgb(   0, 108,   0 );     // #006c00 - caterham


// Data Text Colours
// ------------------------------

$data-text-red    : #ea0417;  // data font, red
$data-text-yellow : #f9cf00;  // data font, yellow
$data-text-green  : #32ac05;  // data font, green
$data-text-blue   : #5fb0e8;  // data font, blue
$data-text-white  : #ffffff;  // data font, white


// Table Foreground Colours
// ------------------------------

$table-text-green  : rgb(  20, 190, 150 );     // position, green/teal
$table-text-red    : rgb( 255,   0,   0 );     // driver number, red
$table-text-yellow : rgb( 255, 255,   0 );     // lap time, yellow


// Table Background Colours
// ------------------------------

$table-off-white  : rgb( 250, 250, 250 );     // #fafafa
$table-grey-light : rgb( 153, 153, 153 );     // #999999
$table-grey-mid   : rgb(  80,  80,  80 );     // #505050
$table-grey-dark  : rgb(  36,  36,  36 );     // #242424
