/*
 * _variables.scss v0.1.0
 * Copyright © 2015 Jonathan Ho
 */
 

// Relative element multiplier function 
// simulates the use of `rem` in CSS3
//--------------------------------------------
//@function rem($multiplier) {
//  $font-size: 10px;
//  @return $multiplier * $font-size;
//}


// Responsive Breakpoints
// ------------------------------

$breakpoint-xs  :  400px;
$breakpoint-sm  :  550px;
$breakpoint-md  :  750px;
$breakpoint-lg  : 1000px;
$breakpoint-xl  : 1200px;


// Application Colours
// ------------------------------

$primary-base     : #003366;
$secondary-base   : #336600;
$accent-base      : #cc0000;

$primary-dark     : #000033;
$secondary-dark   : #003300;
$accent-dark      : #660000;

$primary-mild     : #336699;
$secondary-mild   : #669933;
$accent-mild      : #ff3333;

$background-base  : #fafafa;
$background-dark  : #191919;
$background-mild  : #999999;

$foreground-base  : #242424;
$foreground-dark  : #000000;
$foreground-mild  : #505050;